                    <!-- / | View All Posts -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <h2><a href="/post/{{id}}">{{title}}</a> <span>Posted by {{user.username}} on {{format_date created_at}}</span></h2>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{content}}
                            </p>
                        </div>
                    </div>