<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{title}}</title>
</head>

<body>
    <header class="mb-5">
        <section class="container">
            <div class="row">
                <nav class="navbar">
                    <div class="navbar-brand site-name">
                        {{#if pageTitle}}
                        <h1><a href="/">{{pageTitle}}</a></h1>
                        {{else}}
                        <h1><a href="/">The Tech Blog</a></h1>
                        {{/if}}
                    </div>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a href="/" class="nav-link home">Home</a></li>
                        {{#if loggedIn}}
                        <li class="nav-item"><a href="/dashboard" class="nav-link">Dashboard</a></li>
                        <li class="nav-item"><a href="/logout" class="nav-link nav-logout">Logout</a></li>
                        {{else}}
                        <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                        <li class="nav-item"><a href="/signup" class="nav-link">Sign Up</a></li>
                        {{/if}}
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    <main class="mb-3">
        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    {{{body}}}
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p class="text-center">The Tech Blog. Built by <a href="https://github.com/ebonygrrl/14-tech-blog">Tori
                Booker</a>.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
    {{#if loggedIn}}
    <script src="/js/script-logout.js"></script>
    {{/if}}
</body>

</html>